section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;
}